<div class="main">
  <div class="left">
    <h1>pick a date</h1>
    <input type="date" id="start" name="trip-start">
    <h1>Pick a category:</h1>
    <ul>
      <li><a href="url">Sports</a></li>
      <li><a href="url">Markets</a></li>
      <li><a href="url">Fesitvals</a></li>
      <li><a href="url">Musea</a></li>
      <li><a href="url">Celebrations</a></li>
    </ul>
  </div>
  <div class="center">
    <h1>Events today:</h1>
    <div class="container">
        <img class="image_2" src="./assets/images/amsterdammertje.jpg">
        <img class="image_2" src="./assets/images/amsterdammertje.jpg">
        <img class="image_2" src="./assets/images/amsterdammertje.jpg">
        <img class="image_2" src="./assets/images/amsterdammertje.jpg">
        <img class="image_2" src="./assets/images/amsterdammertje.jpg">
        <img class="image_2" src="./assets/images/amsterdammertje.jpg">
    </div>
  </div>
  <div class="right">
  <h1>RAI millionaire fair</h1>
  <p>The RAI will have its annual 'millionaire fair' in the Europe Complex hall.
  Here you find gadgets that only millionairs can afford.
  But you don't have to be a millionaire to look around and be impressed.
    <br>
    <br>
    <b>Location:</b> Europaplein 22
    <br>
    <b>Entrance fee:</b> €10
  </p>
  </div>
</div>
